head
	meta(charset="UTF-8")
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='MobileOptimized', content='320')
	meta(name='HandheldFriendly', content='true')
	link(href="css/normalize.css",rel="stylesheet")
	link(href="css/bootstrap.min.css",rel="stylesheet")
	link(href="css/style.css",rel="stylesheet")
	link(href="plugins/owl/owl.carousel.css",rel="stylesheet")
	link(href="plugins/owl/owl.theme.css",rel="stylesheet")
	link(href="plugins/bxslider/jquery.bxslider.css",rel="stylesheet")
	script(src="js/jquery-1.11.3.min.js")
	script(src="plugins/bxslider/jquery.bxslider.js")
	script(src="plugins/owl/owl.carousel.js")
	script(src="js/main.js")
	link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Fira+Sans' rel="stylesheet" type="text/css")


	//- script(src='https://code.jquery.com/jquery-1.9.1.min.js')
