doctype html
html(lang="en")
  :verbatim
  include ./jade/head.jade
  body
    :verbatim
    include ./blocks/header/header.jade

    include ./blocks/numbers/numbers.jade

    include ./blocks/event-item/event-item.jade

    include ./blocks/past-events/past-events.jade

    include ./blocks/gallery/gallery.jade

    include ./blocks/clients/clients.jade

    //- подвальчик

    include ./blocks/footer/footer.jade
