.numbers.text-center#numbers
	.container
		.numbers__item
			.numbers-item__number
				p 75
			.numbers-item__text квадратных метра в скандинавском стиле
		.numbers__item
			.numbers-item__number 50
			.numbers-item__text гостей<br>помещаются<br>с комфортом
		.numbers__item
			.numbers-item__number 1
			.numbers-item__text гримерка
		.numbers__item
			.numbers-item__number 300
			.numbers-item__text мероприятий<br>прошли у нас за год
		.numbers__item
			.numbers-item__number 900
			.numbers-item__text клиентов<br> остались довольны
		