.slider.my-carousel#reviews
	h2.past-events__title.text-center Прошедшие мероприятия
	ul.slider-controls
		li.slider-controls__item#carousel-prev
		li.slider-controls__item#carousel-next
	.my-carousel__wrapper#my-carousel
		.slider-item
			img(src="img/slider-1.jpg", alt="Фото")
			.slider-item__more
				p.slider-item__title Мастер-класс по флористике «Шведский лес» с Анной Лебедевой
				p.slider-item__desc 30 человек | В рамках открытых мастер-классов Kinfolk
				p.slider-item__text	Мы собирали композиции из лесных цветов, зеленых трав и мхов в деревянном ящике-подносе. Сложилась теплая атмосфера, и собралась интересная компания.
				a(href="/").slider-item__link Посмотрите все фотографии
		.slider-item.slider-item--comment
			p.slider-item__comment 1 Огромное спасибо за помощь в организации детского праздника. Первый день рождения нашего Матвея удался на все 100%! У вас лучшая площадка в Москве :)
			p.slider-item__autor Анна Шпитальник (Nike)
		.slider-item
			img(src="img/slider-1.jpg", alt="Фото")
			.slider-item__more
				p.slider-item__title Мастер-класс по флористике «Шведский лес» с Анной Лебедевой
		.slider-item.slider-item--comment
			p.slider-item__comment 2
			p.slider-item__autor Анна Шпитальник (Nike)
		.slider-item.active
			img(src="img/slider-1.jpg", alt="Фото")
			.slider-item__more
				p.slider-item__title Мастер-класс по флористике «Шведский лес» с Анной Лебедевой
				p.slider-item__desc 30 человек | В рамках открытых мастер-классов Kinfolk
				p.slider-item__text	Мы собирали композиции из лесных цветов, зеленых трав и мхов в деревянном ящике-подносе. Сложилась теплая атмосфера, и собралась интересная компания.
				a(href="/").slider-item__link Посмотрите все фотографии
		.slider-item.slider-item--comment
			p.slider-item__comment 3 Огромное спасибо за помощь в организации детского праздника. Первый день рождения нашего Матвея удался на все 100%! У вас лучшая площадка в Москве :)
			p.slider-item__autor Анна Шпитальник (Nike)
		.slider-item
			img(src="img/slider-1.jpg", alt="Фото")
			.slider-item__more
				p.slider-item__title Мастер-класс по флористике «Шведский лес» с Анной Лебедевой
		.slider-item.slider-item--comment
			p.slider-item__comment 4
			p.slider-item__autor Анна Шпитальник (Nike)
