
// верхняя шапочка сайта
header.header
  .container
    .top-header
      .mobile-menu
        a.mobile-menu__burger
          span.mobile-burger
        .mobile-link__list
          a.mobile-link__item(href='') Заказать обратный звонок
          a.mobile-link__item(href='#event-item__business') Бизнес-мероприятия
          a.mobile-link__item(href='#event-item__celebration') Дни рождения
          a.mobile-link__item(href='#event-item__wedding') Свадебные вечеринки
          a.mobile-link__item(href='#gallery') Фотогалерея
          a.mobile-link__item(href='#reviews') Отзывы
          a.mobile-link__item(href='#contacts') Контакты
      .row
        .col-lg-6.col-xs-6.top-header__address
          i.sprite.sprite-icon-map
          span м. «Марксистская», ул. Таганская, 31/22
        .col-lg-6.col-sm-6.col-xs-12.header-phone.text-right
          a.header-phone__link Закажите обратный звонок
          div.header-phone__phone (495) 318 96 341
    .main-info.text-center
      .main-info__logo
        img(src='img/logo.png')
      h1.main-info__name Scandinavia Club
      p.main-info__description — это 75 кв. метров многофункционального пространства в стиле лофт
      p.main-info__text Минималистичный интерьер и передовой формат подходят для самых<br>разных событий. Мы находимся в центре Москвы<br>и оборудованы всем необходимым для проведения<br>мероприятий экстра-класса.
      a.main-info__link Забронировать
    .main-info__events.text-center
      a.main-events__link(href='#event-item__business') Бизнес-мероприятия
      a.main-events__link(href='#event-item__celebration') Дни рождения
      a.main-events__link(href='#event-item__wedding') Свадебные вечеринки
      a.main-events__link(href='#gallery') Фотогалерея
      a.main-events__link(href='#reviews') Отзывы
      a.main-events__link(href='#contacts') Контакты
      .main-events__icon
        a(href='#numbers')
          i.sprite.sprite-arrow-down






            