.event-item.event-item__business#event-item__business
	.event-head
		.container
			.row
				.col-lg-7.col-md-10.col-sm-12
					h2.event-head__title Идеальное место для проведения бизнес-мероприятий
			.row
				.col-md-7.ol-sm-12
					p.event-head__text Тихий центр города, удобный проезд и парковка, небольшая переговорная смежная с общий залом – Scandinavia Club прекрасно подходит для бизнес-мероприятий на 25-30 участников
				.col-md-5.col-sm-12.text-right
					a.event-head__link Забронировать
					a
						i.sprite.sprite-icon-calendar-white
			.event-head__tags.text-center
				span Бизнес завтраки
				span Тренинги
				span Презентации
				span Деловые встречи
				span Конференции
				span Семинары
				span Лекции
	.event-info
		.container
			.row
				.col-lg-offset-1.col-md-5.col-sm-6.event-info__detail
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-rent
						span Аренда без посторонних
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-furniture
						span Вся мебель и посуда
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-cup
						span Кофе, чай, горячая вода без ограничений
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-alco
						span Возможность принести свой алкоголь и еду
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-wi-fi
						span Высокоскоростной Wi-Fi
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-clean
						span Уборка после мероприятия
					.event-detail__item.event-detail__item--special
						.event-sprite
							i.sprite.sprite-icon-equipment
						span Все необходимое оборудование
						.event-detail-special
							a.event-detail-special__show (посмотреть список)
							.event-detail-special__tooltip
								p Оборудование раз
								p Оборудование два
								p Оборудование три
								p Оборудование четыре-пять

				.col-lg-2.col-md-4.col-sm-5.event-info__hours
					.event-hours
						i.sprite.sprite-icon-clock
						span 6
						p часов аренды
				.col-md-4.col-sm-6
					.event-price
						.event-price__icon
							i.sprite.sprite-icon-rub
						.event-price__info
							p.event-info__price 15 000
							p.event-info__subtext Будние дни
							p.event-info__price 25 000
							p.event-info__subtext Выходные дни
							p.event-info__text Кейтеринг
							p.event-info__text от 1200 Р / человек
							a.event-info__link (посмотреть меню)
							p.event-info__text Администратор
							p.event-info__text + 5000 Р
.event-item.event-item__celebration#event-item__celebration
	.event-head
		.container
			.row
				.col-lg-7.col-md-10.col-sm-12
					h2.event-head__title Scandinavia Club — это когда хочется праздника, а ни квартира, ни ресторан не подходят
			.row
				.col-md-7.ol-sm-12
					p.event-head__text Выберите дату, пригласите друзей, запаситесь алкоголем и станьте хозяевами целого клуба на весь вечер и даже ночь. 
				.col-md-5.col-sm-12.text-right
					a.event-head__link Забронировать
					a
						i.sprite.sprite-icon-calendar-white
			.event-head__tags.text-center
				span День рождения
				span Корпоратив
				span Выпускной
				span Домашняя вечеринка
				span Семейный бранч
	.event-info
		.container
			.row
				.col-lg-offset-1.col-md-5.col-sm-6.event-info__detail
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-rent
						span Аренда без посторонних
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-furniture
						span Вся мебель и посуда
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-cup
						span Кофе, чай, горячая вода без ограничений
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-alco
						span Возможность принести свой алкоголь и еду
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-wi-fi
						span Высокоскоростной Wi-Fi
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-clean
						span Уборка после мероприятия
					.event-detail__item.event-detail__item--special
						.event-sprite
							i.sprite.sprite-icon-equipment
						span Все необходимое оборудование
						.event-detail-special
							a.event-detail-special__show#event-detail-special__show (посмотреть список)
							.event-detail-special__tooltip#event-detail-special__tooltip
								p Оборудование раз
								p Оборудование два
								p Оборудование три
								p Оборудование четыре-пять

				.col-lg-2.col-md-4.col-sm-5.event-info__hours
					.event-hours
						i.sprite.sprite-icon-clock
						span 24
						p часа аренды
				.col-md-4.col-sm-6
					.event-price
						.event-price__icon
							i.sprite.sprite-icon-rub
						.event-price__info
							p.event-info__price 15 000
							p.event-info__subtext Будние дни
							p.event-info__price 25 000
							p.event-info__subtext Выходные дни
							p.event-info__text Кейтеринг
							p.event-info__text от 1200 Р / человек
							a.event-info__link (посмотреть меню)
							p.event-info__text Администратор
							p.event-info__text + 5000 Р
.event-item.event-item__families#event-item__families
	.event-head
		.container
			.row
				.col-lg-7.col-md-10.col-sm-12
					h2.event-head__title Всегда рады маленьким гостям и их родителям
			.row
				.col-md-7.ol-sm-12
					p.event-head__text Если по вечерам Scandinavia Club — это частный клуб для совершеннолетних именинников, то днем в выходные здесь собираются юбиляры сильно младше в компании родителей, ровесников и аниматоров. 
				.col-md-5.col-sm-12.text-right
					a.event-head__link Забронировать
					a
						i.sprite.sprite-icon-calendar-white
			.event-head__tags.text-center
				span ДЕНЬ РОЖДЕНИЯ
				span УТРЕННИК
				span ДЕТСКИЙ ПРАЗДНИК
	.event-info
		.container
			.row
				.col-lg-offset-1.col-md-5.col-sm-6.event-info__detail
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-rent
						span Аренда без посторонних
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-furniture
						span Вся мебель и посуда
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-cup
						span Кофе, чай, горячая вода без ограничений
					.event-detail__item
						.event-sprite
							i.sprite-icons.sprite-icon-room
						span Гримерная для аниматоров
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-alco
						span Возможность принести свой алкоголь и еду
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-wi-fi
						span Высокоскоростной Wi-Fi
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-clean
						span Уборка после мероприятия
					.event-detail__item.event-detail__item--special
						.event-sprite
							i.sprite.sprite-icon-equipment
						span Все необходимое оборудование
						.event-detail-special
							a.event-detail-special__show (посмотреть список)
							.event-detail-special__tooltip
								p Оборудование раз
								p Оборудование два
								p Оборудование три
								p Оборудование четыре-пять

				.col-lg-2.col-md-4.col-sm-5.event-info__hours
					.event-hours
						i.sprite.sprite-icon-clock
						span 24
						p часа аренды
				.col-md-4.col-sm-6
					.event-price
						.event-price__icon
							i.sprite.sprite-icon-rub
						.event-price__info
							p.event-info__price 15 000
							p.event-info__text Кейтеринг
							p.event-info__text от 1200 Р / человек
							a.event-info__link (посмотреть меню)
							p.event-info__text Администратор
							p.event-info__text + 5000 Р
.event-item.event-item__wedding#event-item__wedding
	.event-head
		.container
			.row
				.col-lg-7.col-md-10.col-sm-12
					h2.event-head__title Мы знаем все о классной свадебной вечеринке 
			.row
				.col-md-7.ol-sm-12
					p.event-head__text Без дорогих ресторанов и лимузинов. Только лучшие друзья, европейский подход к организации и домашняя обстановка.
				.col-md-5.col-sm-12.text-right
					a.event-head__link Забронировать
					a
						i.sprite.sprite-icon-calendar-white
	.event-info
		.container
			.row
				.col-lg-offset-1.col-md-5.col-sm-6.event-info__detail
					.event-detail__item
						.event-sprite
							i.sprite-icons.sprite-icon-wedding
						span Загс и парк в двух минутах ходьбы
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-rent
						span Аренда без посторонних
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-furniture
						span Вся мебель и посуда
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-cup
						span Кофе, чай, горячая вода без ограничений
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-alco
						span Алкоголь без пробочного сбора
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-wi-fi
						span Высокоскоростной Wi-Fi
					.event-detail__item
						.event-sprite
							i.sprite-icons.sprite-icon-room-wedding
						span Гримерка, в которой можно сменить наряд, поправить макияж и оставить вещи
					.event-detail__item
						.event-sprite
							i.sprite.sprite-icon-clean
						span Уборка после мероприятия
					.event-detail__item.event-detail__item--special
						.event-sprite
							i.sprite.sprite-icon-equipment
						span Все необходимое оборудование
						.event-detail-special
							a.event-detail-special__show (посмотреть список)
							.event-detail-special__tooltip
								p Оборудование раз
								p Оборудование два
								p Оборудование три
								p Оборудование четыре-пять

				.col-lg-2.col-md-4.col-sm-5.event-info__hours
					.event-hours
						i.sprite.sprite-icon-clock
						span 24
						p часа аренды
				.col-md-4.col-sm-6
					.event-price
						.event-price__icon
							i.sprite.sprite-icon-rub
						.event-price__info
							p.event-info__price 45 000
							p.event-info__text Кейтеринг
							p.event-info__text от 1200 Р / человек
							a.event-info__link (посмотреть меню)
							p.event-info__text Администратор
							p.event-info__text + 5000 Р
