.clients.text-center
	.container
		h2.clients__title У нас проводили мероприятия
		.client-item
			img(src='img/client-item__1.png')
		.client-item
			img(src='img/client-item__2.png')
		.client-item
			img(src='img/client-item__3.png')
		.client-item
			img(src='img/client-item__4.png')
		.client-item
			img(src='img/client-item__5.png')
		.client-item
			img(src='img/client-item__6.png')
		.client-item
			img(src='img/client-item__7.png')
		.client-item
			img(src='img/client-item__8.png')
		.client-item
			img(src='img/client-item__9.png')
		.client-item
			img(src='img/client-item__10.png')
