include ./../../jade/variables.jade

footer#contacts
	.footer-map
		.container
			.footer-map__info
				h2.footer-map__title Где мы находимся
				p.footer-map__subtitle м. «Марксистская», ул. Таганская, 31/22
				a.footer-map__link(href='#') Открыть карту
				.footer-map__link--tooltip
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.083416704279!2d37.6694973!3d55.739679599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54ac3a9f48d67%3A0xff8dbe64a52a4b24!2z0KLQsNCz0LDQvdGB0LrQsNGPINGD0LsuLCAzMS8yMiwg0JzQvtGB0LrQstCwLCAxMDkxNDc!5e0!3m2!1sru!2sru!4v1436167830411', width='100%', height='100%', frameborder='0', style='border:0', allowfullscreen)
			.row.footer-contacts
				.footer-contacts__telephone
					h3.footer-contacts__title Телефон и почта
					p.footer-contacts__text +7 (903) 189-63-41
					a.footer-contacts__text(href='mailto:info@scandinaviaclub.ru') info@scandinaviaclub.ru
				.footer-contacts__address
					h3.footer-contacts__title Адрес и расположение
					p.footer-contacts__text Мы расположены в 10 минутах хотьбы от станции Марксисткая. Чтобы быстро нас найти – посмотрите указания
					p.footer-contacts__link Инструкция, как добраться
				.footer-contacts__ask
					.footer-contacts__person
						img(src='img/contact-person.png')
					.footer-contacts__info
						h3.footer-contacts__title Привет, меня зовут Андрей
						p.footer-contacts__text Я знаю все об аренде клуба. Позвоните, расскажу:<br>+7 495 998-92-32.
						p.footer-contacts__link Закажите обратный звонок
	.footer-social
		.container
			.footer-social__copyright Copyright Scandinavia Club © 2015
			.footer-social__icons
				a.footer-social__item
					i.sprite.sprite-icon-fb
				a.footer-social__item
					i.sprite.sprite-icon-vk
				a.footer-social__item
					i.sprite.sprite-icon-inst
			
